# Postgres
BACKEND__POSTGRESHOST=localhost
BACKEND__POSTGRESPORT=5432
POSTGRES_HOST_PORT=54320
BACKEND__POSTGRESDB=habithub
BACKEND__POSTGRESUSER=postgres
BACKEND__POSTGRESPASSWORD=supersecret

# App
BACKEND__APPPORT=5000
ASPNETCORE_ENVIRONMENT=Development
BACKEND__CORSORIGINS=http://localhost:3000
