# Postgres
BACKEND__POSTGRES_HOST=localhost
BACKEND__POSTGRES_PORT=54320
BACKEND__POSTGRES_DB=habbithub
BACKEND__POSTGRES_USER=postgres
BACKEND__POSTGRES_PASSWORD=supersecret

# App
BACKEND__APP_PORT=5000
BACKEND__APP_ENVIRONMENT=Development # Development/Staging/Production
BACKEND__CORS_ORIGINS=http://localhost:3000


